.alert {
    color: red;
}
.success {
    color: green;
}
.notes {
    color: slategrey;
}
.link {
    color: blue;
}
.blackText {
    color: black;;
}
.colorSelection {
    width: 15px;
    height: 15px;
    float: left;
}
.content-disabled {
    color: darkgrey;
}
.link-disabled {
    color: lightskyblue;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}