.alert {
    color: red;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.success {
    color: green;
}
.notes {
    color: slategrey;
}
.link {
    color: blue;
}
.blackText {
    color: black;;
}
.colorSelection {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
}
.content-disabled {
    color: darkgrey;
}
.link-disabled {
    color: lightskyblue;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
ul {
    padding: 0px;
}
.processList {
    padding-left: 0px;
}
.processList > div > div > li {
    margin-bottom: 15px;
}
