.alert {
    color: red;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.success {
    color: green;
}
.notes {
    color: slategrey;
}
.link {
    color: blue;
}
.blackText {
    color: black;;
}
.colorSelected {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 1px;
    margin-right: 6px;
}
.colorSelection {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 10px
}
.content-disabled {
    color: darkgrey;
}
.link-disabled {
    color: lightskyblue;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
ul {
    padding: 0px;
}
.processList {
    padding-left: 0px;
}
.processList > div > div > li {
    margin-bottom: 15px;
}
.col-md-1 {
    padding: 0px;
}
.noMargin {
    margin: 0px;
}
.processPointer {
    font-size: 2em;
}
.colorOption {
    float: left;
    display: inline;
}
.iconOption {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.featureOption {
    margin-top: 4px;
    margin-left: 12px;
    margin-bottom: 4px;
}
.pageNumberActive {
    background-color: #cccccc;
}
.ILookLikeText {
    background: transparent;
    border: none;
}
.pWithButton {
    padding-left: 15px;
}
.success {
    margin-bottom: 0px;
}