<div class="container">
    <div class="row">
        <div class="col-sm-9 col-xs-8">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border: none;padding: 0px;margin-left:80px;">More <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" style="margin-top: 0px;">
                <li *ngFor="let app of userApps"><a (click)="onAppNameChange($event.target.text)">{{app.title}}</a></li>
                <li style="border-top: 1px solid black;"><a (click)="onAppNameChange($event.target.text)">Create New App</a></li>
            </ul>
            <h2 [innerHTML]="data.title" style="margin-top: 0px;"></h2>
        </div>
        <div class="col-sm-3 col-xs-4" style="float: right" align="right">
            <span class="notes">Stage in Progress</span>
            <p style="font-size: 18px;"><b>{{currentStage}}</b></p>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li [class]="booksClass">
                <a data-toggle="tab" (click)="currentStage=='Setting Up' ? onNavSelect('book') : pass">Books</a>
            </li>
            <li [class]="detailsClass">
                <a data-toggle="tab" (click)="currentStage=='Setting Up' ? onNavSelect('detail') : pass">Details</a>
            </li>
            <li [class]="processClass">
                <a data-toggle="tab" (click)="onNavSelect('process')">Process</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="tab-content">
            <div #books [class]="'tab-pane ' + booksClass" id="books">
                <div class="row" style="margin-bottom: 15px;">
                    <h4 style="margin-left: 15px;"><b>Books To Include In App</b></h4>
                    <p *ngIf="noBookInLanguageAlert" class="alert" [innerHTML]="noBookInLanguageAlert"></p>
                    <span style="margin-left: 15px;margin-right: 15px;">Language</span>
                    <input #language type="text" (keyup.enter)="getBooks(language.value)" [disabled]="checkTable()" [class]="checkTable() ? 'content-disabled' : pass">
                    <a (click)="getBooks(language.value)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <p *ngIf="noBookError&&!checkTable()" class="alert">{{noBookError}}</p>
                        <table style="border: 1px solid black;" id="booksTable">
                            <thead>
                                <tr class="tableHead">
                                    <th>Include in App</th>
                                    <th>Title</th>
                                    <th>Copyright/License</th>
                                    <th>Note</th>
                                    <th>Order</th>
                                </tr>
                            </thead>
                            <tbody #booksTableContent id="booksTableContent">
                                <tr *ngFor="let bloomBook of bloomBooks" [hidden]="displayPage(bloomBook)" class="tableContent" [id]="bloomBook.id">
                                    <td><input [(ngModel)]="bloomBook.state" type="checkbox" class="checkbox" (click)="putApp('books')"></td>
                                    <td>{{bloomBook.title}}</td>
                                    <td>{{bloomBook.copyright}}</td>
                                    <td>{{bloomBook.note}}</td>
                                    <td>
                                        <button (click)="move($event)" [disabled]="!bloomBook.state" [class]="bloomBook.state==false ? 'content-disabled' : pass"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                                        <button (click)="move($event)" [disabled]="!bloomBook.state" [class]="bloomBook.state==false ? 'content-disabled' : pass"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination" *ngIf="totalPages.length!=1">
                            <ul>
                                <li><a (click)="previousPage()" [class]="currentPage==1 ? 'content-disabled' : pass">Previous</a></li>
                                <li *ngFor="let index of totalPages"><a *ngIf="displayNumber(index)" (click)="toPage(index)" [class]="currentPage==index ? 'pageNumberActive' : pass">{{index}}</a><span *ngIf="showDot(index)" style="background-color: #ffffff; color: #333333;">...</span></li>
                                <li><a (click)="nextPage()" [class]="currentPage==totalPages.length ? 'content-disabled' : pass">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5 notes">
                        <p style="padding-left: 32px;">To Get a new book into this list, upload it from the <a href="http://www.bloomlibrary.org"><u class="link">Bloom Editor</u></a> program</p>
                        <img src="../../assets/light-bulb.png" style="float: left;">
                        <p style="padding-left: 32px;">One or more books in this app have been updated since the last time the app was published.
                            Consider making a new version. <a (click)="onNavSelect('process')"><u class="link">Go to Process</u></a></p>
                    </div>
                </div>
            </div>

            <div #details [class]="'tab-pane ' + detailsClass" id="details">
                <div class="col-md-7">
                    <div class="row">
                        <h4><b>App Details</b></h4>
                    </div>
                    <div class="row"  style="margin-top:10px;">
                        <p style="display: inline; margin-right: 30px;"><b>Store Listing Language</b></p>
                        <select (change)="onLanguageSelect($event.target.value)" id="languageSelect" style="width: auto;">
                            <option value="ar">Arabic</option>
                            <option value="zh-CN">Chinese</option>
                            <option value="en-GB">English</option>
                            <option value="fr-FR">French</option>
                            <option value="hi-IN">Hindi</option>
                            <option value="id">Indonesian</option>
                            <option value="ms">Malay</option>
                            <option value="pt-PT">Portuguese</option>
                            <option value="ru-RK">Russian</option>
                            <option value="es-419">Spanish</option>
                            <option value="th">Thai</option>
                            <option value="vi">Vietnamese</option>
                        </select>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <p class="noMargin"><b>Title</b></p>
                        <p *ngIf="titleError&&!data.title" class="alert">{{titleError}}</p>
                        <input #title [(ngModel)]="data.title" style="width:90%;" (change)="title.value=='' ? data.title='Untitled' : pass" (keyup.enter)="putApp('title')" (blur)="putApp('title')">
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <p class="noMargin"><b>Short Description</b></p>
                        <p *ngIf="shortDError&&!data.shortDescription" class="alert">{{shortDError}}</p>
                        <input [(ngModel)]="data.shortDescription" style="width:90%;" (keyup.enter)="putApp('short')" (blur)="putApp('short')">
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <p class="noMargin"><b>Full Description</b></p>
                        <p *ngIf="fullDError&&!data.fullDescription" class="alert">{{fullDError}}</p>
                        <textarea [(ngModel)]="data.fullDescription" style="width:90%;height: 70px;" (keyup.enter)="putApp('full')" (blur)="putApp('full')"></textarea>
                        <p class="notes noMargin">The following will be appended to the description:</p>
                        <p class="notes noMargin">"These books and this app were created with <a class="link" href="http://www.bloomlibrary.org" target="_blank"><u>Bloom</u></a> from SIL International"</p>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <p class="noMargin"><b>Color</b></p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><div [style.background]="data.color[1]" class="colorSelected"></div><span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" style="background: #E5E5E5;width: 255px;margin-top: 0px;">
                                <li>
                                    <div style="margin-top: 10px;">
                                        <span><a class="colorOption" (click)="onColorSelect('Dark Green')"><div #dg class="colorSelection" style="background: #083F0E;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Dark Blue')"><div #db class="colorSelection" style="background: #000B63;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Royal Blue')"><div #rb class="colorSelection" style="background: #0D47A1;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Indigo')"><div #in class="colorSelection" style="background: #3F51B5;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Dark Indigo')"><div #di class="colorSelection" style="background: #1A237E;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Blue')"><div #bu class="colorSelection" style="background: #2196F3;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Dark Red')"><div #dr class="colorSelection" style="background: #6C0000;"></div></a></span>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <span><a class="colorOption" (click)="onColorSelect('Purple')"><div #pu class="colorSelection" style="background: #9C27B0;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Deep Purple')"><div #dp class="colorSelection" style="background: #673AB7;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Light Blue')"><div #lb class="colorSelection" style="background: #03A9F4;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Cyan')"><div #cy class="colorSelection" style="background: #00BCD4;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Teal')"><div #te class="colorSelection" style="background: #009688;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Green')"><div #gr class="colorSelection" style="background: #4CAF50;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Light Green')"><div #lg class="colorSelection" style="background: #8BC34A;"></div></a></span>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <span><a class="colorOption" (click)="onColorSelect('Lime')"><div #li class="colorSelection" style="background: #C0CA33;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Amber')"><div #am class="colorSelection" style="background: #FFC107;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Orange')"><div #or class="colorSelection" style="background: #FF9800;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Deep Orange')"><div #do class="colorSelection" style="background: #FF5722;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Red')"><div #re class="colorSelection" style="background: #F44336;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Brown')"><div #br class="colorSelection" style="background: #4E342E;"></div></a></span>
                                        <span><a class="colorOption" (click)="onColorSelect('Black')"><div #ba class="colorSelection" style="background: #000000;"></div></a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <p class="noMargin"><b>Icon</b></p>
                        <p *ngIf="iconError" class="alert">{{iconError}}</p>
                        <div class="row noMargin">
                            <div class="btn-group" style="display: inline;">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="iconMenu"><img [src]="data.icon" id="iconDisplay" height="60" width="60"><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" style="height: auto;max-height: 300px;overflow-x: hidden;background: #E5E5E5;min-width: 100px;">
                                    <li class="iconOption"><img #icon1 (click)="selectFromDefault(icon1.src,'icon')" src="../../assets/ab-001-black.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon2 (click)="selectFromDefault(icon2.src,'icon')" src="../../assets/ab-002-blue.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon3 (click)="selectFromDefault(icon3.src,'icon')" src="../../assets/ab-003-green.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon4 (click)="selectFromDefault(icon4.src,'icon')" src="../../assets/ab-004-green-ornament.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon5 (click)="selectFromDefault(icon5.src,'icon')" src="../../assets/ab-005-red.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon6 (click)="selectFromDefault(icon6.src,'icon')" src="../../assets/ab-006-audio-black.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon7 (click)="selectFromDefault(icon7.src,'icon')" src="../../assets/ab-007-audio-blue.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon8 (click)="selectFromDefault(icon8.src,'icon')" src="../../assets/ab-008-audio-green.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon9 (click)="selectFromDefault(icon9.src,'icon')" src="../../assets/ab-009-audio-green-ornament.png" width="60" height="60"></li>
                                    <li class="iconOption"><img #icon10 (click)="selectFromDefault(icon10.src,'icon')" src="../../assets/ab-010-audio-red.png" width="60" height="60"></li>
                                </ul>
                            </div>
                            <div style="height: 74px;">
                                <p style="text-align: right;padding-right: 10%;">The icon shown in the store and on the device.</p>
                            </div>
                        </div>
                        <input #iconFile (change)="onFileSelect(iconFile, 'icon')" type="file">
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <p class="noMargin"><b>Feature Graphic</b></p>
                        <p *ngIf="featureError" class="alert">{{featureError}}</p>
                        <div class="row noMargin">
                            <div class="btn-group" style="display: inline;">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="featureMenu"><img [src]="data.feature" id="featureDisplay" height="150" width="300"><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" style="height: auto;max-height: 300px;overflow-x: hidden;background: #E5E5E5;min-width: 340px">
                                    <li class="featureOption"><img #feature1 (click)="selectFromDefault(feature1.src,'feature')" src="../../assets/bloom-feature-graphic.png" width="300" height="150"></li>
                                    <li class="featureOption"><img #feature2 (click)="selectFromDefault(feature2.src,'feature')" src="../../assets/featureGraphic.png" width="300" height="150"></li>
                                </ul>
                            </div>
                            <div style="height:150px;">
                                <p style="text-align: right; padding-right: 10%;">The Feature Graphic is displayed at the top of the store entry. You can use a site like <a style="color: blue" href="http://www.Norio.be/android-feature-graphic-generator" target="_blank"><u>www.Norio.be/android-feature-graphic-generator/</u></a> or make your own using a some other software.</p>
                            </div>
                        </div>
                        <input #featureFile (change)="onFileSelect(featureFile, 'feature')" type="file">
                    </div>
                </div>
            </div>

            <div #process [class]="'tab-pane ' + processClass" id="process">
                <h4><b>process</b></h4>
                <div class="row">
                    <div class="col-sm-5">
                        <ol class="processList">
                            <div class="row">
                                <div class="col-md-1 col-xs-1 col-xs-offset-1">
                                    <span *ngIf="currentStage=='Setting Up'" class="glyphicon glyphicon-circle-arrow-right processPointer" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <li [class]="currentStage=='Setting Up' ? 'blackText' : 'content-disabled'">
                                        <b>Setting Up</b>
                                        <div class="row">
                                            <p *ngIf="currentStage=='Setting Up'&&requestFailedError" class="alert" [innerHTML]="requestFailedError"></p>
                                            <p class="noMargin">Fill out all the App Details and select books. When you're ready, click this button;</p>
                                            <button style="float: right;margin-right: 15px;" (click)="checkField()" [disabled]="currentStage!='Setting Up'" [class]="currentStage=='Setting Up' ? 'blackText' : 'content-disabled'">Make my App</button>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-1 col-xs-offset-1">
                                    <span *ngIf="currentStage=='Making App'" class="glyphicon glyphicon-circle-arrow-right processPointer" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <li [class]="currentStage=='Making App' ? 'blackText' : 'content-disabled'">
                                        <b>Making App</b>
                                        <p *ngIf="currentStage=='Making App'&&requestFailedError" class="alert" [innerHTML]="requestFailedError"></p>
                                        <p>Our server is making your Android app! This usually takes about 10 minutes.</p>
                                    </li>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-1 col-xs-offset-1">
                                    <span *ngIf="currentStage=='Submitting to Play Store'" class="glyphicon glyphicon-circle-arrow-right processPointer" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <li [class]="currentStage=='Submitting to Play Store' ? 'blackText' : 'content-disabled'">
                                        <b>Submitting to Play Store</b>
                                        <p *ngIf="currentStage=='Submitting to Play Store'&&requestFailedError" class="alert" [innerHTML]="requestFailedError"></p>
                                        <p>We are submitting your app to the Google Play Store. If this is the first edition, one of
                                            our staff will get things ready for Google, and this can take anywhere from an hour to several days.
                                            If you are publishing an update, this is automated and takes just a few hours.</p>
                                        <p>In the mean time, if your phone has been <a><u [class]="currentStage=='Submitting to Play Store' ? 'link' : 'link-disabled'">set up to allow side loading</u></a>, here is a
                                            <a><u [class]="currentStage=='Submitting to Play Store' ? 'link' : 'link-disabled'">link to the APK</u></a>, and here is a QR code to download it to your phone:</p>
                                        <img *ngIf="currentStage=='Submitting to Play Store'||currentStage=='Private'||currentStage=='Submitting to Play Store'" src="../../assets/ch.png" width="50" height="50">
                                    </li>
                                </div>
                            </div>
                        </ol>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <ol start="4" class="processList">
                            <div class="row">
                                <div class="col-md-1 col-xs-1 col-xs-offset-1">
                                    <span *ngIf="currentStage=='Private on Play Store'" class="glyphicon glyphicon-circle-arrow-right processPointer" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <li [class]="currentStage=='Private on Play Store' ? 'blackText' : 'content-disabled'">
                                        <b>Private on Play Store</b>
                                        <div class="row">
                                            <p *ngIf="currentStage=='Private on Play Store'&&requestFailedError" class="alert" [innerHTML]="requestFailedError"></p>
                                            <p>Your app can now be installed <a><u [class]="currentStage=='Private on Play Store' ? 'link' : 'link-disabled'">from the Play Store</u></a>, but the public won't see it until you're ready</p>
                                            <button style="float: right;margin-right: 15px;" [disabled]="currentStage!='Private on Play Store'" [class]="currentStage=='Private on Play Store' ? 'blackText' : 'content-disabled'">Go Public</button>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-1 col-xs-offset-1">
                                    <span *ngIf="currentStage=='Public on Play Store'" class="glyphicon glyphicon-circle-arrow-right processPointer" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-10 col-xs-9">
                                    <li [class]="currentStage=='Public on Play Store' ? 'blackText' : 'content-disabled'">
                                        <b>Public on Play Store</b>
                                        <div class="row">
                                            <p *ngIf="currentStage=='Public on Play Store'&&requestFailedError" class="alert" [innerHTML]="requestFailedError"></p>
                                            <p>Your book is now <a><u [class]="currentStage=='Public on Play Store' ? 'link' : 'link-disabled'">on the store</u></a> andfreely available for anyone with a compatible device.
                                                You can always publish new editions using new or updated books, and people with the app will get the new version automatically.</p>
                                            <p>If you change your mind, you can <a><u [class]="currentStage=='Public on Play Store' ? 'link' : 'link-disabled'">Go Private</u></a> again.</p>
                                            <p>If you want to make changes to the app, click this button:</p>
                                            <button style="float: right;margin-right: 15px;" [disabled]="currentStage!='Public on Play Store'" [class]="currentStage=='Public on Play Store' ? 'blackText' : 'content-disabled'">Make a new version of this App</button>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </ol>
                    </div>
                </div>
                <div>
                    <p *ngIf="currentStage!='Setting Up'">Use these buttons to control server response and see what should happen</p>
                    <div *ngIf="currentStage=='Making App'">
                        <input type="button" value="app build success" (click)="setServerResponse(2,'success')">
                        <input type="button" value="app build failed" (click)="setServerResponse(2,'fail')">
                    </div>
                    <div *ngIf="currentStage=='Submitting to Play Store'">
                        <input type="button" value="submitting success" (click)="setServerResponse(3,'success')">
                        <input type="button" value="submitting failed" (click)="setServerResponse(3,'fail')">
                    </div>
                    <div *ngIf="currentStage=='Private on Play Store'">
                        <input type="button" value="go public success" (click)="setServerResponse(4,'success')">
                        <input type="button" value="go public failed" (click)="setServerResponse(4,'fail')">
                    </div>
                    <div *ngIf="currentStage=='Public on Play Store'">
                        <input type="button" value="go private success" (click)="setServerResponse(5,'success')">
                        <input type="button" value="go private failed" (click)="setServerResponse(5,'fail')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>